{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-ls-12">
        <div class="container card-deck flex-row mt-5">
            <div class="card mb-3 col-lg-12">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="{{ asset('/assets/images/crossimg.png') }}" alt="">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">PS5</h5>
                            <p class="card-text">Nouveau-prix / actuel prix</p>
                            <p class="card-text">Voici la description rapide de la play qui va falloir ecrire ici.</p>
                            <p class="card-text"><small class="text-muted">Date d'ajout du deal (date de creation)</small></p>
                            <a href="{{ path('detaildeal',{'id':2}) }}" class="btn btn-primary">Voir le deal</a>
                        </div>
                    </div>
                </div>
            </div>
            {#                {% for advert in adverts %}#}
            {#                    <div class="card bg-secondary text-white flex-wrap">#}
            {#                        <div class="card-body">#}
            {#                            <h5 class="card-title card-header">{{ advert.title }}</h5>#}
            {#                            <p class="card-text">{{ advert.content}}</p>#}
            {#                            <p class="card-text">{{ advert.postalCode }}</p>#}
            {#                            <p class="card-text">{{advert.creationDate|date("m/d/Y")}}</p></br>#}
            {#                            <p class="card-text">{{advert.category.name}}</p></br>#}
            {#                            <h6 class="card-footer text-right mb-2">{{ advert.price }}$</h6>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endfor %}#}

        </div>
    </div>
{% endblock %}
