{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-ls-12">
        <div class="container card-deck flex-row">
            <div class="card-body">
                <h5 class="card-title">Je suis cadre</h5>
            </div>
            {#                {% for advert in adverts %}#}
            {#                    <div class="card bg-secondary text-white flex-wrap">#}
            {#                        <div class="card-body">#}
            {#                            <h5 class="card-title card-header">{{ advert.title }}</h5>#}
            {#                            <p class="card-text">{{ advert.content}}</p>#}
            {#                            <p class="card-text">{{ advert.postalCode }}</p>#}
            {#                            <p class="card-text">{{advert.creationDate|date("m/d/Y")}}</p></br>#}
            {#                            <p class="card-text">{{advert.category.name}}</p></br>#}
            {#                            <h6 class="card-footer text-right mb-2">{{ advert.price }}$</h6>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endfor %}#}

        </div>
    </div>
{% endblock %}
