{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-2">
    <div class="rounded bg-white mb-2">
        <div class="d-flex flex-column">
            <div class="d-flex p-3">
                <div class="w-25 my-auto me-3">
                    <img class="deal-img" src="/img/{{ deal.imageName }}" alt="">
                </div>
                <div class="w-75 d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between">
                        <div id="vote{{ deal.id }}" class="border rounded ">
                            {% if app.user and app.user.votedFor(deal) %}
                                {% if app.user.getNotationFor(deal) == -1 %}
                                    <button disabled class="btn btn-vote rounded-circle text-black-50 text-info p-0">
                                        <i class="bi bi-dash-lg"></i>
                                    </button>
                                {% endif %}
                                <span class="px-2 text-danger text-strong text-m">
                                    {{ deal.degree }}°
                                </span>
                                {% if app.user.getNotationFor(deal) == 1 %}
                                    <button disabled class="btn btn-vote rounded-circle text-black-50 p-0">
                                        <i class="bi bi-plus-lg"></i>
                                    </button>
                                {% endif %}
                            {% else %}
                                <button data-id="{{ deal.id }}"
                                        class="btn degreeMoins btn-vote rounded-circle text-info p-0">
                                    <i class="bi bi-dash-lg"></i>
                                </button>
                                <span class="px-2 text-danger text-strong text-m">
                                        {{ deal.degree }}°
                                    </span>
                                <button data-id="{{ deal.id }}"
                                        class="btn degreePlus btn-vote rounded-circle text-danger p-0">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            {% endif %}
                        </div>
                        <div class="my-auto">
                                <span class="text-muted text-xs">
                                    <i class="bi bi-clock"></i>
                                    {{ deal.creationDate|date("d/m/Y") }}
                                </span>
                        </div>
                    </div>
                    <span class="text-strong text-m text-dark text-decoration-none mt-4">
                        {{ deal.title }}
                    </span>
                    <div class="d-flex flex-row">
                        {% if deal.actualPrice is defined %}
                            <span class="text-danger text-strong text-m">{{ deal.newPrice }}€</span>
                            <span class="text-muted text-m text-break deal-old-price ms-2">{{ deal.actualPrice }}€</span>
                        {% endif %}
                        {% if deal.amount is defined %}
                            <span class="text-danger text-strong text-m">-{{ deal.amount }}{{ deal.reductionType }}</span>
                        {% endif %}
                        {% if deal.freeDelivery is defined %}
                            {% if deal.freeDelivery %}
                                <span class="text-muted text-xs ms-2">
                                            <i class="bi bi-truck text-m"></i>
                                            Gratuit
                                        </span>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-4">
                        <span>
                            <a class="btn btn-avatar p-0 rounded-pill" href="{{ path('app_user', {'username': deal.user.name}) }}">
                                <img class="rounded-circle avatar-xs" src="/img/{{ deal.user.imageName }}">
                                <span class="text-xs text-strong me-2">{{ deal.user.name }}</span>
                            </a>
                        </span>
                        <div class="d-flex flex-row">
                            <a class="btn border ms-2" href="#comments">
                                <i class="bi bi-chat-fill me-1"></i>
                                {{ deal.commentsList.count }}
                            </a>
                            <a class="btn btn-primary ms-2 text-white text-strong text-s" href="{{ deal.link }}">
                                Voir le deal
                                <i class="bi bi-box-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-s mx-4 p-3 border-top">{{ deal.description }}</p>
            <div class="flex bg-light px-5 py-2 rounded-bottom">
                <a class="text-decoration-none deal-title text-xs text-strong" href="#comments">
                    <i class="bi bi-chat-fill"></i>
                    Écrire un commentaire
                </a>
                <a class="text-decoration-none deal-title text-xs text-strong ms-2">
                    <i class="bi bi-flag-fill"></i>
                    Signaler
                </a>
                <a class="text-decoration-none deal-title text-xs text-strong ms-2" href="{{ path('app_saveDeal') }}">
                    <i class="bi bi-bookmark-fill"></i>
                    Sauvegarder
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container my-2">
    <div class="bg-white rounded-2 d-flex flex-column comment-container">
        <span class="py-2 px-4 bg-dark rounded-top text-white text-xs text-strong">
            <i class="bi bi-chat-fill me-2"></i>
            {{ deal.commentsList.count }} commentaires
        </span>
        {% for c in comments %}
            <div class="d-flex flex-row py-3 px-4">
                <div class="me-3">
                    <img class="avatar-m rounded-circle" src="/img/{{ c.user.imageName }}">
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <a class="text-strong text-dark text-decoration-none text-xs border border-white btn-avatar-without-img rounded-pill px-2"
                           href="{{ path('app_user', {'username': c.user.name}) }}">
                            {{ c.user.name}} 
                        </a>
                        <span class="text-xs text-black-50 ms-2"> {{ c.creationDate|date("d/m/Y")}}</span>
                    </div>
                    <div class="px-2 mt-2 text-break">{{  c.description }}</div>
                </div>
            </div>
        {% endfor %}
        <div id="comments" class="d-flex flex-column my-2">
            <span class="py-2 px-4 text-s text-strong">Laisser un commentaire</span>
            <div class="d-flex flex-column py-3 px-4">
                <div class="d-flex form-comment">
                    <img class="avatar-m rounded-circle me-2" src="/img/{{ app.user.imageName }}">
                    {{ form_start(form) }}
                        {{ form_row(form.description,{ label: ' ' }) }}
                        <button type="submit" class="btn btn-primary text-white text-s text-strong ms-auto">
                            <i class="bi bi-chat-fill me-2"></i>
                            Envoyer
                        </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
