{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="card mb-3 col-lg-12 mt-2">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{{ asset('/assets/images/crossimg.png') }}" alt="">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">{{ deal.title }}</h5>
                    {% if deal.actualPrice is defined %}
                        <p class="card-text"><span class="text-danger fw-bold">{{ deal.newPrice }}</span> / <strike class="text-secondary ">{{ deal.actualPrice }}</strike></p>
                    {% endif %}
                    {% if deal.reductionType is defined %}
                        <p class="card-text"><span class="text-danger fw-bold">{{ deal.reductionType }}</span></p>
                    {% endif %}
                    <p class="card-text">{{ deal.description }}</p>
                    <p class="card-text"><small class="text-muted">ajouté le {{ deal.creationDate|date("d/m/Y")}}</small></p>
                    <a href="{{ path('app_dealdetail',{'id': deal.id}) }}" class="btn btn-primary">Voir le deal</a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white container d-flex flex-column p-5 rounded-2 my-5 align-content-around">
    <h1 class="h3 mb-3 font-weight-normal">Commentaire</h1>
    {{ form(form) }}
</div>

<div class="bg-white container d-flex flex-column p-5 rounded-2 my-5 align-content-around">
    <h1 class="h3 mb-3 font-weight-normal">Liste des commentaires</h1>
    {% for c in comments %}
        <div class="card-body">
            <h5 class="card-title">{{ c.title }}</h5>
            <p class="card-text"><small class="text-muted">{{ c.user.name}} | {{ c.creationDate|date("d/m/Y")}}</small></p>
            <p class="card-body">{{  c.description }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
