{% extends 'base.html.twig' %}

{% block title %}Hello GoodDealController!{% endblock %}

{% block body %}
    <div class="container card-deck flex-row mt-5">
        {% for pc in promoCodes %}
            <div class="card mb-3 col-lg-12 mt-2">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="{{ asset('/assets/images/crossimg.png') }}" alt="">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ pc.title }}</h5>
                            <div class="d-flex flex-row-reverse">
                                <a href="{{ path('app_degree', {'id': pc.id, 'degree': 1}) }}" id="degreePlus" class="p-2 btn btn-danger">+1</a>
                                <h5 class="p-2 text-danger">{{ pc.degree }}</h5>
                                <a href="{{ path('app_degree', {'id': pc.id, 'degree': -1}) }}" id="degreeMoins" class="p-2 btn btn-info">-1</a>
                            </div>
                            <p class="card-text"><span class="text-danger fw-bold">{{ pc.amount }}{{ pc.reductionType }}</span></p>
                            <p class="card-text">{{ pc.description }}</p>
                            <p class="card-text"><small class="text-muted">ajouté le {{ pc.creationDate|date("d/m/Y")}}</small></p>
                            <a href="{{ path('app_dealdetail',{'id': pc.id}) }}" class="btn btn-primary">Voir le deal</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
