{% extends 'base.html.twig' %}

{% block title %}Compte | {{ user.name }}{% endblock %}

{% block body %}
    <section class="profile-header" style="background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('/img/{{ user.imageName }}'); background-size: cover;">
        <div class="container py-3">
            <div class="d-flex flex-row">
                <div class="brand-avatar-container me-3">
                    <img class="rounded-circle avatar-xl"
                            src="/img/{{ user.imageName }}">
                </div>
                <div class="brand-info-container my-2  d-flex flex-column justify-content-center">
                    <h5 class="text-white text-m text-fit">{{ user.name }}</h5>
                    <p class="text-muted text-xs">Inscrit(e) depuis le 19 novembre 2018</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <nav class="nav container text-decoration-none">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active text-black-50 text-strong text-s" id="stats"
                   data-bs-toggle="tab" data-bs-target="#stats-nav" type="button"
                   role="tab" aria-controls="stats-nav" aria-selected="true">
                    Aperçu
                </a>
                <a class="nav-link text-black-50 text-strong text-s" id="deals"
                   data-bs-toggle="tab" data-bs-target="#deals-nav" type="button"
                   role="tab" aria-controls="deals-nav" aria-selected="false">
                    Deals ({{ user.deals.count }})
                </a>
                {% if visit == false %}
                    <a class="nav-link text-black-50 text-strong text-s" id="savedDeals"
                       data-bs-toggle="tab" data-bs-target="#savedDeals-nav" type="button"
                       role="tab" aria-controls="savedDeals-nav" aria-selected="false">
                        Deals enregistrés ({{ user.dealsSaved.count }})
                    </a>
                {% endif %}
            </div>
        </nav>
    </section>
    <div class="tab-content" id="nav-content">
        <div class="tab-pane fade show active" id="stats-nav" role="tabpanel" aria-labelledby="stats-nav">
            {% embed "user/statistiques.html.twig" %}{% endembed %}
        </div>
        <div class="tab-pane fade" id="deals-nav" role="tabpanel" aria-labelledby="deals-nav">
            {% embed "user/deals.html.twig" %}{% endembed %}
        </div>
        {% if visit == false %}
            <div class="tab-pane fade" id="savedDeals-nav" role="tabpanel" aria-labelledby="savedDeals-nav">
                {% embed "user/savedDeals.html.twig" %}{% endembed %}
            </div>
        {% endif %}
    </div>
{% endblock %}
