{%  block body %}
    <div class="container d-flex flex-row my-2 p-0">
        <div class="w-25 d-flex flex-column bg-white rounded-2 me-2 h-min-content">
            <div class="m-3">
                <h6 class="text-strong text-m"><i class="bi bi-graph-up"></i> Statistiques</h6>
            </div>
            <div class="mx-3 my-1 d-flex flex-column">
                <p class="text-black-50">Posts</p>
                <p class="ms-2"><i class="bi bi-tag-fill"></i> <strong>{{ user.deals.count }}</strong> <label class="text-xs text-black-50">deal</label></p>
                <p class="ms-2"><i class="bi bi-chat-fill"></i> <strong>{{ user.commentsList.count }}</strong> <label class="text-xs text-black-50">commentaire</label></p>
            </div>
            <div class="mx-3 my-1 d-flex flex-column">
                <p class="text-black-50">Palmarès</p>
                <p class="ms-2">
                    <i class="bi bi-thermometer-sun"></i>
                    <strong>{{ maxDegree }}°</strong>
                    <label class="text-xs text-black-50">deal le plus hot</label>
                </p>
                <p class="ms-2">
                    <i class="bi bi-bar-chart-line-fill"></i>
                    <strong>{{ moyDegree }}°</strong>
                    <label class="text-xs text-black-50">en moyenne depuis 1 an</label>
                </p>
                <p class="ms-2">
                    <i class="bi bi-pie-chart-fill"></i>
                    <strong>{{ percentHot }}%</strong>
                    <label class="text-xs text-black-50">de deal hot</label>
                </p>
            </div>
        </div>
        <div class="w-75 d-flex badge-container flex-column bg-white rounded-2 h-min-content">
            <div class="p-3">
                <h6 class="text-strong text-m"><i class="bi bi-star-fill"></i> Badges</h6>
            </div>

            <div class="p-3 d-flex flex-column">
                <div class="d-flex my-2 justify-content-between">
                    <h6 class="text-strong text-m">Surveillant</h6>
                    <label class="text-black-50 text-s">2/10</label>
                </div>
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="10"></div>
                </div>
                <p class="my-2">Vous avez voté sur 10 deals</p>
            </div>
            <div class="p-3 d-flex flex-column">
                <div class="d-flex my-2 justify-content-between">
                    <h6 class="text-strong text-m">Cobaye</h6>
                    <label class="text-black-50 text-s">2/10</label>
                </div>
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="10"></div>
                </div>
                <p class="my-2">Vous avez posté 10 deals</p>
            </div>
            <div class="p-3 d-flex flex-column">
                <div class="d-flex my-2 justify-content-between">
                    <h6 class="text-strong text-m">Rapport de stage</h6>
                    <label class="text-black-50 text-s">2/10</label>
                </div>
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="10"></div>
                </div>
                <p class="my-2">Vous avez posté 10 commentaires</p>
            </div>
        </div>
    </div>
{% endblock %}